body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #2f00ff;
    padding: 10px;
}

.logo,
.login {
    flex: 1;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.menu {
    display: flex;
    flex: 2;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px;
}

.menu a {
    color: #002aff;
    text-decoration: none;
}